<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyjalabs.pilkadabuzz" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PilkadaBuzzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CandidateListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CandidateDetailActivity"
            android:label="@string/title_candidate_detail"
            android:parentActivityName=".CandidateListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CandidateListActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0818f1d28b33bdd7aa90fd1e4d62c39c4a3cbd72" />
    </application>

</manifest>
